@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Abel&family=Montserrat:wght@100;300&display=swap');

.navPhoneNum{
    font-size: 12px;
}
.nav-font{
  font-size: 17px;
}

.bg-florida-rooter-blue {
    background-color: rgba(0,116,131,255);
}
.bg-florida-rooter-darker-blue {
    background-color: rgba(17,88,99,255);
}
.bg-florida-rooter-white{
  background-color: rgba(0,116,131,255);
}

/* ACCORDION SECTION */
.accordion{
  --bs-accordion-btn-bg: #f4f4f4;
  --bs-accordion-active-bg: white;
  --bs-accordion-active-color: #808080;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-bg: white;
  --bs-accordion-color: #808080;
}

.accordion-button:focus {
  outline: 0 !important;
  box-shadow: none !important;
  border-color: rgba(0,0,0,0) !important;
}

.florida-rooter-colored-button {
  background-color: #007483 !important;
  border: none;
  color: white;
  font-family: 24px ;
  border-radius: 5px;
}

.florida-rooter-colored-button:hover {
  background-color: #006775 !important;
}

/* DIVIDER */
.triangle-divider-one {
  width: 100%;
  /* height: 4vh; */
  position: relative;
  top: 0;
  left: 0;
}

.triangle-divider-two {
  width: 100%;
  margin-top: 1px;

  top: 0;
  left: 0;
}

/* CAROUSEL SECTION */

.carousel-height{
  max-height: 350px;
  height: 100%;
}
.carousel-item{
  height: 330px;
}

/* CAROUSEL ONE */
.carousel-one-title-emphasize{
  font-size: 46px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 600;
}
.carousel-one-title{
  font-size: 32px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 600;
}
.carousel-one-paragraph-emphasize{
  font-family: 'Verdana'; font-size: 22px;
}
.carousel-one-paragraph{
  font-family: 'Verdana'; font-size: 14px;
}

/* CAROUSEL TWO */
.carousel-two-title-emphasize{
  font-size: 48px; font-family: Abel, Geneva, Tahoma, sans-serif
}
.carousel-two-title{
  font-size: 30px; font-family: Abel, Geneva, Tahoma, sans-serif;
}
.carousel-two-paragraph-emphasize{
  font-family: 'Verdana'; font-size: 20.5px;
}
.carousel-two-paragraph{
  font-family: 'Verdana'; font-size: 14px;
}

/* CAROUSEL THREE */
.carousel-three-title-emphasize{
  font-size: 45px; font-family: Abel, Geneva, Tahoma, sans-serif;
}
.carousel-three-title{
  font-size: 30px; font-family: Abel, Geneva, Tahoma, sans-serif;
}
.carousel-three-paragraph-emphasize{
  font-family: 'Verdana'; font-size: 22px;
}
.carousel-three-paragraph{
  font-family: 'Verdana'; font-size: 14px;
}

.font-nav-top {
  font-family: 'ABeeZee', Helvetica,Arial,Lucida,sans-serif !important;
}
.dividerBar{
    border-left:0.1px solid #9f9f9f;height:1050px;
    width: 0.1% !important;
}

img.alignright{
    display: inline;
    float: right;
    margin-left: 15px;
}

/***** LARGE DESKTOP VISIBILITY *****/
@media (max-width: 1200px){
  .nav-font{
    font-size: 16px;
  }
.carousel-three-title-emphasize{
  font-size: 32px; font-family: Abel, Geneva, Tahoma, sans-serif;
}
.carousel-three-title{
  font-size: 26px; font-family: Abel, Geneva, Tahoma, sans-serif;
}
.carousel-three-paragraph-emphasize{
  font-family: 'Verdana'; font-size: 18px;
}
.carousel-three-paragraph{
  font-family: 'Verdana'; font-size: 14px;
}
}

/***** DESKTOP VISIBILITY *****/
@media (max-width: 992px){
  .nav-font{
    font-size: 16px;
  }
  .carousel-item{  /* CAROUSEL */
    height: 290px;
  }

  .florida-rooter-truck{ /* CAROUSEL ONE */
    height: 300px;
    width: 340px;
  }
  .carousel-one-title-emphasize{
    font-size: 30px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-weight: 600;
  }
  .carousel-one-title{
    font-size: 25px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 600;
  }
  .carousel-one-paragraph-emphasize{
    font-family: 'Verdana'; font-size: 16px;
  }
  .carousel-one-paragraph{
    font-family: 'Verdana'; font-size: 11px;
  }

  .florida-rooter-logo{ /* CAROUSEL TWO */
    height: 250px;
    width: 200px;
  }
  .carousel-two-title-emphasize{
    font-size: 30px;
  }
  .carousel-two-title{
    font-size: 21px; 
  }
  .carousel-two-paragraph-emphasize{
    font-size: 16px;
  }
  .carousel-two-paragraph{
    font-size: 11px;
  }

  .carousel-three-title-emphasize{ /* CAROUSEL THREE */
    font-size: 23px; font-family: Abel, Geneva, Tahoma, sans-serif;
  }
  .carousel-three-title{
    font-size: 17px; font-family: Abel, Geneva, Tahoma, sans-serif;
  }
  .carousel-three-paragraph-emphasize{
    font-family: 'Verdana'; font-size: 16px;
  }
  .carousel-three-paragraph{
    font-family: 'Verdana'; font-size: 11px;
  }
}

/***** TABLET VISIBILITY *****/
@media (max-width: 768px){
  .nav-font{
    font-size: 16px;
  }
.carousel-item{
  height: 410px;
}

.carousel-one-title-emphasize{ /* CAROUSEL ONE */
  font-size: 46px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 600;
}
.carousel-one-title{
  font-size: 32px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 600;
}
.carousel-one-paragraph-emphasize{
  font-family: 'Verdana'; font-size: 22px;
}
.carousel-one-paragraph{
  font-family: 'Verdana'; font-size: 14px;
}


.carousel-two-title-emphasize{ /* CAROUSEL TWO */
  font-size: 48px; font-family: Abel, Geneva, Tahoma, sans-serif
}
.carousel-two-title{
  font-size: 30px; font-family: Abel, Geneva, Tahoma, sans-serif;
}
.carousel-two-paragraph-emphasize{
  font-family: 'Verdana'; font-size: 20.5px;
}
.carousel-two-paragraph{
  font-family: 'Verdana'; font-size: 14px;
}

.carousel-three-title-emphasize{ /* CAROUSEL THREE */
  font-size: 45px; font-family: Abel, Geneva, Tahoma, sans-serif;
}
.carousel-three-title{
  font-size: 30px; font-family: Abel, Geneva, Tahoma, sans-serif;
}
.carousel-three-paragraph-emphasize{
  font-family: 'Verdana'; font-size: 22px;
}
.carousel-three-paragraph{
  font-family: 'Verdana'; font-size: 14px;
}

}


/***** MOBILE PHONE VISIBILITY *****/
@media (max-width: 576px){
  .carousel-item{
    height: 460px;
  }
  .carousel-one-title-emphasize{
    font-size: 46px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-weight: 600;
  }
  .carousel-one-title{
    font-size: 32px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 600;
  }
  .carousel-one-paragraph-emphasize{
    font-family: 'Verdana'; font-size: 22px;
  }
  .carousel-one-paragraph{
    font-family: 'Verdana'; font-size: 14px;
  }
}

@media only screen and (max-width: 400px) {
  .carousel-item{
    height: 500px;
  }
}

@media only screen and (max-width: 300px) {
    .dividerBar {
      display: none;
    }
  }

